/* Feedback Page */
.feedback {
  margin-top: 4.8rem;
}

.feedback_heading {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--font-unbounded);
  line-height: 1;
  margin-bottom: 4.8rem;
}

.feedback_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.form_label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.form_textarea {
  display: block;
  min-height: 20rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: 1.2rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  resize: none;
  padding: 1.2rem 2rem;
}

.form_textarea:focus {
  outline: none;
}

.form_textarea::-webkit-scrollbar {
  width: 0 !important;
}

.btn_box {
  text-align: end;
  margin-top: 1.6rem;
}

/* - Submit Button */
.submit_btn {
  font-size: 1.8rem;
  color: var(--color-light);
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 1.2rem;
  padding: 1.6rem 3.2rem;
  transition: transform 0.3s;
}

.submit_btn:active {
  transform: translateY(0.2rem);
}

/* - Rating */
.rating_box {
  display: flex;
  align-items: center;
}

.star {
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.star_full {
  fill: var(--color-gold);
  stroke: var(--color-gold);
}

.star_empty {
  fill: none;
  stroke: var(--color-primary);
}
